.slideshow {
  position: relative;
  width: 80%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  margin: auto;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
  }

  &__btn--back,
  &__btn--next {
    width: 45px;
    height: 80px;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    padding: 0;
    line-height: 1;
    overflow: hidden;
  }

  &__btn--back {
    left: 20px;
  }

  &__btn--next {
    right: 20px;
  }

  &__counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
    user-select: none;
  }
}

@media (min-width: 376px) and (max-width: 1023px) {
  .slideshow {
    &__btn--back,
    &__btn--next {
      width: 30px;
      height: 55px;
      overflow: hidden;
    }
  }
}

@media (max-width: 375px) {
  .slideshow {
    position: relative;
    width: 90%;
    height: 255px;
    border-radius: 10px;

    &__img {
      width: 100%;
      height: 255px;
      object-fit: cover;
      border-radius: 10px;
    }

    &__btn--back,
    &__btn--next {
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 35px;
      font-size: 24px;
      overflow: hidden;
    }

    &__counter {
      display: none;
    }
  }
}
