@import 'src/styles/_variables.scss';

.Rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;

  &__star {
    font-size: 32px;

    &--full {
      color: $principal-color;
    }

    &--empty {
      color: $light-grey;
    }
  }
}

@media (min-width: 376px) and (max-width: 1023px) {
  .Rating {
    justify-content: flex-start;
  }
}

@media (max-width: 375px) {
  .Rating {
    justify-content: flex-start;
    gap: 4px;
    width: 100%;

    &__star {
      font-size: 18px;
      width: 15px;
    }
  }
}
