@import 'src/styles/_variables.scss';

.tags {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 20px;

  &__item {
    background-color: $principal-color;
    color: white;
    padding: 4px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
  }
}

@media (max-width: 375px) {
  .tags {
    flex-wrap: wrap;
    gap: 10px;
  }

  .tags__item {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 5px;
  }
}
