@import 'src/styles/_variables.scss';

.Host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  text-align: right;

  &__name {
    font-size: 18px;
    font-weight: 500;
    color: $principal-color;
    max-width: 80px;
    line-height: 1.2;
  }

  &__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 375px) {
  .Host {
    gap: 10px;
    width: 100%;

    &__name {
      font-size: 14px;
      max-width: 70px;
    }

    &__img {
      width: 48px;
      height: 48px;
    }
  }
}
