@import 'src/styles/_variables.scss';
.collapse {
  width: 1023px;
  margin: 30px auto;
  border-radius: 5px;
  overflow: hidden;

  &__chevron {
    width: 24px;
    height: 24px;
    margin-left: auto;
    transition: transform 0.3s ease;

    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__title {
    width: 100%;
    background-color: $principal-color;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }

  &--open &__title {
    &:after {
      transform: rotate(180deg);
    }
  }

  &__txt {
    max-height: 0;
    overflow: hidden;
    background-color: $background-light;
    color: black;
    font-size: 25px;
    padding: 0 15px;
    border-radius: 0 0 5px 5px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;

    &--visible {
      max-height: 200px;
      padding: 15px;
    }
  }
}

@media (max-width: 375px) {
  .collapse {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15px;
  }

  .collapse__title {
    font-size: 16px;
    padding: 6px;
  }

  .collapse__txt {
    font-size: 14px;
    padding: 0 15px;

    &--visible {
      padding: 15px;
    }
  }
}
