.Footer {
  width: 100%;
  height: 200px;
  background-color: black;
}

.Footer-logo {
  width: 100%;
  height: 50px;
  margin-top: 30px;
}

.Footer-txt {
  color: white;
  text-align: center;
  font-size: 30px;
}
