.Footer {
  width: 100%;
  height: 200px;
  background-color: black;

  &__logo {
    width: 100%;
    height: 50px;
    margin-top: 30px;
  }

  &__txt {
    color: white;
    text-align: center;
    font-size: 30px;
  }
}
